<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css">
    <title>Devouring Burgers</title>
</head>

<body>
    <img src="../../public/assets/img/burger.png" id="burger">

    {{{ body }}}
</body>

</html>