main {
  background-color: rgb(255, 255, 0);
}

img {
  float: right;
  height: 153px;
  width: 212px;
  margin-right: 60px;
  padding-bottom: 25px;
}

.jumbotron {
  background-color: #72b5f9 !important;
}

#devourMe {
  float: right;
}

#newBurger {
  border-radius: 3px;
}

#notDevoured {
  background-color: lightblue;
  color: rgb(220, 0, 220);
  text-align: center;
}

#addBurger {
  margin: auto;
  width: 200px;
  position: relative;
  top: 100px;
}

#devoured {
  background-color: darkblue;
  color: rgb(106, 255, 0);
  text-align: center;
}
